<!DOCTYPE html>
<html lang="en">
{{> Head }}
<body>

<div class="ui main text container">
    <h1 class="ui header">MyFace</h1>

    <p>The brand new social network.</p>

    <a class="positive ui button" href="/home">Home</a>
    <a class="positive ui button" href="/signup">Sign Up</a>

</div>

</body>
</html>